body.signinBody {
    background-color: #d23700;
}
div.signinContainer {
    margin-top: 8%;
}
div.signinCard {
    background-color: #ffb300;
    box-shadow: 2px 2px 5px rgba(0,0,0, .5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0, .5);
    -mox-box-shadow: 2px 2px 5px rgba(0,0,0, .5);
}
img.signinImg {
    margin: auto;
    display: block;
}
form.signinForm {
    max-width: 70%;
    margin: auto;
    text-align: center;
}
button.btn {
    background-color: #d23700;
    border: none;
    color: white;
    box-shadow: 2px 2px 5px rgba(0,0,0, .5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0, .5);
    -mox-box-shadow: 2px 2px 5px rgba(0,0,0, .5);
    width: 100%;
}
button.btn:hover {
    color: black;
}
a.signinRegister {
    margin: auto;
    text-align: center;
    display: block;
    width: 30%;
    box-shadow: 2px 2px 5px rgba(0,0,0, .5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0, .5);
    -mox-box-shadow: 2px 2px 5px rgba(0,0,0, .5);
}