body.signinBody {
    background-color: #e6f2ff;
}
div.signinContainer {
    margin-top: 8%;
}
div.signinCard {
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0,0,0, .5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0, .5);
    -mox-box-shadow: 2px 2px 5px rgba(0,0,0, .5);
}